.active {
    color: #459D7a !important; 
}

.title {
    color:#323842 !important;
}

.text-color {
    color: #666 !important;
}

.background {
    color: #f3f4f6 !important;
}

.mark {
    color: #ffc970 !important;
}

.footer {
    color: #1d2128;
}

.border-color {
    color: #Edeef1;
}

.container-color {
    color: #fafafb;
}

/* c5e6d9 xanh nhạt  */