* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: antiquewhite;
    z-index: 10;
}

.header__menu {
    font-family: sans-serif;
    color: #666;
    list-style: none;
    display: flex;
}

.header__menu-iteam {
    margin-right: 16px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav input {
    padding-left: 10px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 5px;
}

.header__nav-cart {
    width: 30px;
}

/* container */
#container {
    padding: 130px 0;

}
.container__nav {
    
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.container__nav-item {
    list-style: none;
    position: relative;

}

.container__nav-item a {
    font-family: sans-serif;
    color: #666;
    text-decoration: none;
    color: #111;
    margin: 18px;
}

.container__nav-item img {
    position: absolute;
    top: 2px;
    right: -8px;
    height: 16px;
}

.container__product {
    display: flex;
    margin: 20px 0 0 120px;
}

.product__img {
    display: flex;
}

.product__vertical-img {
    display: flex;
    flex-direction: column;
    margin: 6px 6px;
}

.product__vertical-img img {
    margin: 5px 5px;
}

.product__main-img {
    position: relative;
}

.best-seller {
    background-color: peachpuff;
    padding: 4px 15px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 10px;
}

.container__product-info {
    margin-left: 100px;
    font-family: sans-serif;
    color: #666;
}

.product-name {
    margin-bottom: 16px;
}

.container__product-price {
    margin: 26px 0 26px 0;
    display: flex;
    align-items: center;
}

.container__product-price h1 {
    margin-right: 18px;
}

.container__product-detail {
    display: block;
    text-align: justify;
    width: 550px;
}

.container__product-status {
    margin-top: 20px;
    display: flex;
    list-style: none;
    align-items: center;
}

.product-status__review,
.product-status__sold,
.product-status__star {
    margin-right: 20px;
    
}

.product-status__star {
    display: flex;
    align-items: center;
}

.product-status__star img {
    margin-right: 4px;
}

.product-treatment {
    margin-top: 4px;
    list-style: none;
}

.product-treatment-item {
    display: flex;
    margin-top: 15px;
    align-items: center;   
}

.product-treatment-item img {
    margin-right: 10px;
}

.chose-size,
.quantity {
    color: #323842;
    margin: 16px 0;
}

#size {
    width: 550px;
    height: 38px;
    padding: 0 18px;
    border: 1px solid #Edeef1;
    border-radius: 14px;
    background-color: #f3f4f6;
}

.quantity-buy {
    list-style: none;
    display: flex;
}

.quantity-buy-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background-color: #f3f4f6;
    margin-right: 14px;
    border-radius: 10px;
    border: 1px solid #Edeef1;
    cursor: pointer;
}

.order-product {
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}
.order-checkout,
.order-add-to-chart {
    height: 60px;
    display: flex;
    width: 46%;
}

.order-add-to-chart {
    align-items: center;
    color: #459D7a;
    border: 2px solid  #459D7a;
    border-radius: 10px;
    justify-content: center;
}

.order-add-to-chart img {
    margin: 20px;
    height: 36px;
}

.order-checkout{
    align-items: center;
    color: white;
    background-color: #459D7a;
    border-radius: 10px;
    justify-content: center;
}

.related-product {
    margin: 0 120px;
}

.title-related-product {
    margin: 40px 0 42px 0;
}

.related-product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.related-product-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.related-product-item {
    width: 25%;
}

.related-product-title {
    margin: 10px 0;
}

.related-product-item-price {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}

.related-product-price {
    display: flex;
    align-items: center;
}

.pre-price {
    color: #666;
    margin-left: 10px;
}

.container__subnav {
    margin: 120px 240px;
}

.container__subnav-list {
    display: flex;
    justify-content: space-around;
}

.container__subnav-item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 40px;
    list-style: none;
    color: #459D7a;
    width: 100%;
    border-radius: 10px;    
}

.container__subnav-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 28px;
    background-color:#c5e6d9;
    right:0;
}

.container__subnav-item:last-child::after {
    display: none;
}

.container__subnav-item.active {
    background-color: #c5e6d9;
}

.benefit-product {
    margin: 0 120px;
    display: flex;
}

.benefit-product-infor {
    width: 48%;
    margin-top: 100px;
    text-align: justify;
}

.benefit-product-infor h4 {
    margin-top: 30px;
}

.benefit-product-infor span {
    display: block;
    margin-top: 10px;
}

.benefit-product-img {
    margin-left: 90px;
}

.ingredient-product {
    margin: 100px 120px;
    position: relative;
}

.ingredient-product h1 {
    color: #323842;
    margin-bottom: 40px;
}

.ingredient-product-list {
    display: flex;
    justify-content: space-between;
}

.ingredient-product-item {
    width: 25%;
}

.ingredient-product-item img{
    border-radius: 10px;
}

.ingredient-product h3 {
    color: #323842;
    margin: 10px 0;
}

.ingredient-product span {
    color: #666;
}

.ingredient-product-btn {
    background-color: #fff;
    border: 2px solid #459D7a;
    padding: 10px 50px;
    border-radius: 10px;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.ingredient-product-btn span {
    color: #459D7a;
}

.how-to-use {
    margin: 150px 150px 140px 140px;
    position: relative;
}

.how-to-use h1 {
    margin-bottom: 20px;
}

.play-video {
    position: absolute;
    padding: 14px 40px;
    background-color: #323842;
    width: fit-content;
    color: #999;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.review {
    padding: 0 120px;
}

.review-title {
    display: flex;
    justify-content: space-between;
}

.write-rieview {
    display: flex;
    border: 2px solid #459D7a;
    color: #459D7a;
    align-items: center;
    padding: 10px 30px;
    border-radius: 5px;
}

.specific-review {
    display: flex;
    margin-top: 40px;
}

.specific-review-rank {
    width: fit-content;
    margin-right: 200px;
}

.specific-review-rank-total {
    display: flex;
    align-items: center;
}

.specific-review-rank-total img {
    margin: 0 10px 0 10px;
}

.specific-review-rating {
    list-style: none;
}

.specific-review-rating-item {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.specific-review-rating-star {
    margin: 0 10px;
}

.specific-review-rating-item p {
    margin-left: 10px;
}

.specific-review-eg-list {
    list-style: none;
}

.specific-review-eg-item {
    margin-bottom: 40px;
    margin-right: 100px;
}

.specific-review-eg-user {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}

.specific-review-eg-user-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.specific-review-eg-user-name {
    display: flex;
    margin-bottom: 3px;
}

.specific-review-eg-user-name span {
    margin-left: 10px;
}

.review-number {
    margin-left: 600px;
}

.review-number-list {
    display: flex;
    list-style: none;
}

.review-number-list li {
    display: block;
    padding: 5px 9px ;
    margin: 5px;
}

.review-number-list-active {
    color: #459D7a;
    border: 1px solid #459D7a;
    border-radius: 50%;
}

.faqs {
    margin: 60px 120px 0 120px;
}

.faqs-total {
    display: flex;
    justify-content: space-between;
}

.faqs-total-left {
    width: 48%;
}

.faqs-total-right {
    width: 48%;
}

.faqs-total-item-active {
    border:1px solid #459D7a !important;
}

.faqs-total-item-active span {
    color:  #459D7a !important;
}


.faqs-total-item {
    border: 1px solid #666;
    padding: 10px 60px 20px 20px;
    margin: 18px 0;
    border-radius: 4px;
}

.faqs-total-item span{
    color: #666;
}

#footer{
    display: flex;
    justify-content: space-between;
    height: 435px;
    background-color: #1D2128;
    margin-left: 8px;
}

 .info {
    display: flex;
    margin-top: 90px;
    margin-left: 130px;
  }

.about,
.help,
.contact {
    margin-right: 50px;
    list-style-type: none;
}

.about li,
.help li,
.contact li{
    color: #DDE0E5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 18px;
}

.about li h1,
.help li h1,
.contact li h1{
    font-size: 20px;
}

.about select{
    height: 35px;
    width: 125px;
    color: #ffffff; 
    background-color: #1D2128;
    border: 1px solid white;
    border-radius: 5px;
}

.notification{
    margin-top: 90px;
    margin-right: 150px;
}

.notification > ul{
    color: #DDE0E5;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

.notification li{
    margin-top: 15px;
}

.notification li h1{
    font-size: 25px;
}

.submit{
    display: flex;
}

.submit .input{
    font-size: 20px;
    border-radius: 10px 0px 0px 10px;
    height: 50px;
    width: 300px;
    border-right: 0px;
    background-color: #1D2128;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.submit .submit{
    font-size: 20px;
    border-left: 0px;
    border-radius: 0px 10px 10px 0px;
    height: 50px;
    width: 130px;
    background-color: #459D7A;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.pts{
    display: flex;

}

.pts li{
    margin-right: 25px;
}

.pts-none{
    list-style-type: none;
}

